.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(53, 87, 101);
}

header, footer{
  padding: 50px;
  background-color: rgb(53, 87, 101);
  color: #FFFFFF;
  font-family: 'Akshar', sans-serif;
}

footer {
  padding-top: 100px;;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5em;
}
.k-grid-header col:nth-of-type(1){
  width: 25%
}
.k-grid-table col:nth-of-type(1){
  width: 25%
}
.k-grid-header col:nth-of-type(2){
  width: 25%
}
.k-grid-table col:nth-of-type(2){
  width: 25%
}

.k-grid-header {
  background-color: rgb(174, 208, 203);
}

.k-pager-wrap {
  background-color: rgb(53, 87, 101);
  color: #FFFFFF;
}


main {
  background-color: rgb(174, 208, 203);
}


img {
  width:100px;
  height:100px;
  border: solid #FFFFFF 1px;
  border-radius: 25%;
}


